<div class="content">
  <div class="container">
    <app-side-bar></app-side-bar>
    <div class="col-md-9 col-sm-12 w3ls_dresses_grid_left ">
      <div class="w3ls_dresses_grid_left_grid">
        <div class="w3ls_dresses_grid_left_grid_sub newwidth">
          <app-nav-bar></app-nav-bar>

          <div class="ecommerce_dres-type">
            <div class="container">
              <div class="col-md-8 col-sm-12 w3ls_dresses_grid_left">
                <div class="w3ls_dresses_grid_left_grid">
                  <h3 *ngIf="message" class="padding-left">Account was activated </h3>
                  <h3 *ngIf="errorMessage" class="padding-left">Activation Account</h3>
                  <div class="w3ls_dresses_grid_left_grid_sub newwidth">
                    <div class="ecommerce_dres-type">
                      <p class="alert alert-danger" *ngIf="errorMessage && !message">{{errorMessage}}</p>
                      <p class="alert alert-success" *ngIf="message && !errorMessage" >{{message}}</p>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
