<div class="login">

  <div class="main-agileits">
    <div class="form-w3agile">
      <h3>Send Link</h3>
      <p class="alert alert-danger" *ngIf="errorMessage && !message">{{errorMessage}}</p>
      <p class="alert alert-success" *ngIf="message && !errorMessage" >{{message}}</p>
      <form [formGroup]="form" (ngSubmit)="sendCode()" method="post" *ngIf="!message">
        <div class="key">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <input type="text" name="Email" required="pleass add email" placeholder="Email" formControlName="email">

          <div class="clearfix"></div>
          <span *ngIf="(email.touched || errorMessage) && email.invalid  " class="text-danger ">
            <strong *ngIf="email.errors?.required">Please
              enter email</strong>
          </span>
        </div>
        <input type="submit" value="Send To Email">
      </form>
    </div>
  </div>
</div>
