<div class="login">

  <div class="main-agileits">
    <div class="form-w3agile">
      <h3>Update Your Password</h3>
      <p class="alert alert-danger" *ngIf="errorMessage && !message">{{errorMessage}}</p>
      <p class="alert alert-success" *ngIf="message " >{{message}} <a routerLink="auth/login">Login</a></p>
      <form [formGroup]="form" (ngSubmit)="cahangePassword()" method="post" *ngIf="!message">
        <div class="key">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <input type="password" name="newPass" required="pleass add email" placeholder="new Password" formControlName="newPass">

          <div class="clearfix"></div>
          <span *ngIf="(newPass.touched || errorMessage) && newPass.invalid  " class="text-danger ">
            <strong *ngIf="newPass.errors?.required">Please
              enter password</strong>
          </span>
        </div>
        <input type="submit" value="Save">
      </form>
    </div>
  </div>
</div>
